<head>
  {% assign title = page.title | default: site.title | escape %} {% assign
  description = page.description | default: site.description | strip_html |
  strip_newlines | truncate: 160 %} {% if page.name and page.collection ==
  'projects' %} {% assign title = page.name | escape %} {% endif %}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ '/assets/apple-touch-icon.png' | relative_url }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/favicon-32x32.png' | relative_url }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/favicon-16x16.png' | relative_url }}"
  />
  <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}" />
  <link
    rel="mask-icon"
    href="{{ '/assets/safari-pinned-tab.svg' | relative_url }}"
    color="#5bbad5"
  />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ '/assets/favicon.ico' | relative_url }}"
  />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#0e0e0e" />

  <!-- Theme style -->
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  <!-- Font Awesome CDN -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"
  />

  <!-- Bootstrap CSS CDN -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  />

  <!-- Animate CSS CDN -->
  <link
    rel="stylesheet"
    href="http://cdnlib.net/ar/animate.css/3.7.2/animate.min.css"
  />

  <!-- bricklayer CDN -->
  <link
    rel="stylesheet"
    href="https://cdnlib.net/ar/bricklayer/0.4.3/bricklayer.min.css"
  />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

  <!-- Matomo -->
  <script>
    var _paq = (window._paq = window._paq || []);
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    (function () {
      var u = "https://matomo.arash-hatami.ir/";
      _paq.push(["setTrackerUrl", u + "matomo.php"]);
      _paq.push(["setSiteId", "9"]);
      var d = document,
        g = d.createElement("script"),
        s = d.getElementsByTagName("script")[0];
      g.async = true;
      g.src = u + "matomo.js";
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p>
      <img
        src="https://matomo.arash-hatami.ir/matomo.php?idsite=9&amp;rec=1"
        style="border: 0"
        alt=""
      /></p
  ></noscript>
  <meta
    name="google-site-verification"
    content="QZFeekX0NGg0RnQwiS-uqhMIdMgQ9KSX3AEJdm6wTJ8"
  />
</head>
