<script src="https://cdnlib.net/ar/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnlib.net/ar/popper.js/1.14.6/popper.min.js"></script>
<script src="https://cdnlib.net/ar/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="http://cdnlib.net/ar/bricklayer/0.4.3/bricklayer.min.js"></script>

<script>
  new WOW().init();
  var bricklayer = new Bricklayer(document.querySelector(".bricklayer"));
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
