<script src="https://lib.arvancloud.com/jquery/3.6.0/jquery.min.js"></script>
<script src="https://lib.arvancloud.com/popper.js/1.16.1/esm/popper.min.js"></script>
<script src="https://lib.arvancloud.com/bootstrap/4.6.1/js/bootstrap.min.js"></script>
<script src="https://lib.arvancloud.com/wow/1.1.2/wow.min.js"></script>
<script src="https://lib.arvancloud.com/bricklayer/0.4.3/bricklayer.min.js"></script>

<script>
  new WOW().init();
  var bricklayer = new Bricklayer(document.querySelector(".bricklayer"));
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
