@charset "UTF-8";

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn RD FD;
  src: url("../fonts/Vazirmatn-RD-FD-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.vazir {
  font-family: Vazirmatn RD FD;
}

.cls-1 {
  fill: #ffc541;
}

.cls-2 {
  fill: #4e4066;
}

.cls-3 {
  fill: #6f5b92;
}

.cls-4 {
  fill: #f78d5e;
}

.cls-5 {
  fill: #fa976c;
}

.cls-6 {
  fill: #b65c32;
  opacity: 0.6;
}

.cls-7 {
  fill: #b65c32;
  opacity: 0.4;
}

.cls-8 {
  fill: #b65c32;
}

.cls-9 {
  fill: #f4b73b;
}

.cls-10 {
  opacity: 0.6;
}

.cls-11 {
  fill: #f9c358;
}

.cls-12 {
  fill: #9b462c;
}

.cls-13 {
  fill: #aa512e;
}

.cls-14 {
  fill: #7d6aa5;
}

/* animations */

.wheel {
  animation: wheel-rotate 6s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel-rotate {
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  100% {
    transform: rotate(960deg);
  }
}

.clock-hand-1 {
  animation: clock-rotate 3s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

.clock-hand-2 {
  animation: clock-rotate 6s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes clock-rotate {
  100% {
    transform: rotate(360deg);
  }
}

#box-top {
  animation: box-top-anim 2s linear infinite;
  transform-origin: right top;
  transform-box: fill-box;
}

@keyframes box-top-anim {
  50% {
    transform: rotate(-5deg);
  }
}

#umbrella {
  animation: umbrella-anim 6s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes umbrella-anim {
  25% {
    transform: translateY(10px) rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }
}

#cup {
  animation: cup-rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  transform-origin: top left;
  transform-box: fill-box;
}

@keyframes cup-rotate {
  50% {
    transform: rotate(-5deg);
  }
}

#pillow {
  animation: pillow-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes pillow-anim {
  25% {
    transform: rotate(10deg) translateY(5px);
  }

  75% {
    transform: rotate(-10deg);
  }
}

#stripe {
  animation: stripe-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes stripe-anim {
  25% {
    transform: translate(10px, 0) rotate(-10deg);
  }

  75% {
    transform: translateX(10px);
  }
}

#bike {
  animation: bike-anim 6s ease infinite;
}

@keyframes bike-anim {
  0% {
    transform: translateX(-1300px);
  }

  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  100% {
    transform: translateX(1300px);
  }
}

#rucksack {
  animation: ruck-anim 3s linear infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes ruck-anim {
  50% {
    transform: rotate(5deg);
  }
}

.circle {
  animation: circle-anim ease infinite;
  transform-origin: center;
  transform-box: fill-box;
  perspective: 0px;

  &.c1 {
    animation-duration: 2s;
  }

  &.c2 {
    animation-duration: 3s;
  }

  &.c3,
  &.c4 {
    animation-duration: 1s;
  }

  &.c5 {
    animation-duration: 2s;
  }

  &.c6 {
    animation-duration: 3s;
  }
}

@keyframes circle-anim {
  50% {
    transform: scale(0.2) rotateX(360deg) rotateY(360deg);
  }
}

.four,
#ou {
  animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.four {
  &.a {
    transform-origin: bottom left;
    animation-duration: 3s;
    transform-box: fill-box;
  }

  &.b {
    transform-origin: bottom right;
    animation-duration: 3s;
    transform-box: fill-box;
  }
}

#ou {
  animation-duration: 6s;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes four-anim {
  50% {
    transform: scale(0.98);
  }
}

html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: Vazirmatn RD FD, sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  color: #343a40 !important;

  * {
    color: #343a40 !important;
  }
}

.bg-dark,
.badge-dark {
  color: rgba(255, 255, 255, 0.9) !important;

  * {
    color: rgba(255, 255, 255, 0.9) !important;
  }
}

.search-box {
  box-shadow: none !important;
}

.post {
  &.card {
    border-radius: 15px;
    text-decoration: none !important;
    padding: 15px;
    height: 100%;

    .card-footer {
      font-size: 14px;
      margin: 0 -15px -15px -15px;
      padding: 15px 35px;
    }
  }

  .post-metadata {
    font-size: 14px;
    margin-top: -6px;
  }

  .tag:hover {
    background-color: #007bff;
    color: white !important;
  }

  footer {
    font-size: 10px;
    color: #6c757d;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-align: right;
    margin-top: 4em;
    margin-right: 2em;
  }

  h1,
  h2 {
    margin-top: 32px;
  }

  hr {
    background: #6c757d;
  }

  img:not(.emoji) {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
    width: 100%;

    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline) {
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: #007bff;
    }

    &::after {
      content: "";
      display: block;
      height: 0.15em;
      margin-top: -0.15em;
      width: 0;
      background: #007bff;
      transition: width 0.35s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  pre {
    background: #f8f9fa;
    border: 1px solid #ddd;
    color: #343a40;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 1em 1.5em;
    display: block;
    page-break-inside: avoid;
    overflow: auto;
    word-wrap: break-word;
  }

  code.highlighter-rouge {
    background-color: #f8f9fa;
    color: #343a40;
    border-radius: 3px;
    margin: 0;
    padding: 0.2em 0.65em;
  }

  blockquote {
    border-left: 0.25em solid #007bff;
    color: #6c757d;
    padding: 0 1em;
  }

  table:not(.highlight) {
    display: block;
    overflow-x: auto;
    margin: 1rem 0;

    td {
      border: 1px solid #ddd;
      padding: 8px 16px;
    }

    th {
      border: 1px solid #ddd;
      padding: 8px 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: 500;
      text-align: left;
      background-color: #007bff;
      color: white;
    }

    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.social {
  text-decoration: none !important;
}

#attribution {
  opacity: 0.5;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  #attribution {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: fixed;
    bottom: 56px;
    right: 22px;
  }
}

#container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#dummy {
  padding-top: 100%;
}

#element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.link-after,
.nav-link::after,
.navbar-brand::after,
.nav-item.active::after {
  content: "";
  display: block;
  height: 0.15em;
  background: #007bff;
}

.nav-link::after,
.navbar-brand::after {
  width: 0;
  transition: width 0.35s;
}

.nav-link:hover::after,
.navbar-brand:hover::after {
  width: 100%;
}

.nav-item.active {
  font-weight: bold;

  &::after {
    width: 100% !important;
  }
}

.navbar-brand {
  margin-bottom: -14px;

  &::after {
    margin-top: -0.25em;
  }
}

.project.card {
  border-radius: 15px;
  text-decoration: none !important;
  margin: 10px auto;
  transition: transform 400ms;

  .card-img-top {
    border-radius: 15px 15px 0 0;
  }

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}

.timeline-body {
  position: relative;
  border-radius: 0 15px 15px 0;
  padding: 5px 0;

  &:after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #007bff;
    position: absolute;
    left: -4px;
    top: 0;
  }

  .timeline-item {
    position: relative;

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid #007bff;
      background-color: #f8f9fa;
      position: absolute;
      left: -12px;
      top: 8px;
      z-index: 10;
    }

    .content {
      margin: 40px;
      padding-bottom: 20px;
      border-bottom: 1px dashed #343a40;

      .date {
        margin-top: -5px;
        margin-bottom: 15px;
        color: #6c757d;
      }
    }
  }
}

.highlight .w {
  color: #bbbbbb;
}

[data-theme="dark"] {
  pre .w,
  code.highlighter-rouge .w {
    color: #bbbbbb;
  }
}

/* Text.Whitespace */

.highlight .k {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .k,
  code.highlighter-rouge .k {
    color: #0000aa;
  }
}

/* Keyword */

.highlight .m {
  color: #009999;
}

[data-theme="dark"] {
  pre .m,
  code.highlighter-rouge .m {
    color: #009999;
  }
}

/* Literal.Number */

.highlight .s {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .s,
  code.highlighter-rouge .s {
    color: #aa5500;
  }
}

/* Literal.String */

.highlight .c {
  color: #aaaaaa;
  font-style: italic;
}

[data-theme="dark"] {
  pre .c,
  code.highlighter-rouge .c {
    color: #aaaaaa;
    font-style: italic;
  }
}

/* Comment */

.highlight .cp {
  color: #4c8317;
}

[data-theme="dark"] {
  pre .cp,
  code.highlighter-rouge .cp {
    color: #4c8317;
  }
}

/* Comment.Preproc */

.highlight .gd {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .gd,
  code.highlighter-rouge .gd {
    color: #aa0000;
  }
}

/* Generic.Deleted */

.highlight .gr {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .gr,
  code.highlighter-rouge .gr {
    color: #aa0000;
  }
}

/* Generic.Error */

.highlight .gi {
  color: #00aa00;
}

[data-theme="dark"] {
  pre .gi,
  code.highlighter-rouge .gi {
    color: #00aa00;
  }
}

/* Generic.Inserted */

.highlight .go {
  color: #888888;
}

[data-theme="dark"] {
  pre .go,
  code.highlighter-rouge .go {
    color: #888888;
  }
}

/* Generic.Output */

.highlight .gp {
  color: #555555;
}

[data-theme="dark"] {
  pre .gp,
  code.highlighter-rouge .gp {
    color: #555555;
  }
}

/* Generic.Prompt */

.highlight .gt {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .gt,
  code.highlighter-rouge .gt {
    color: #aa0000;
  }
}

/* Generic.Traceback */

.highlight .kc {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .kc,
  code.highlighter-rouge .kc {
    color: #0000aa;
  }
}

/* Keyword.Constant */

.highlight .kd {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .kd,
  code.highlighter-rouge .kd {
    color: #0000aa;
  }
}

/* Keyword.Declaration */

.highlight .kn {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .kn,
  code.highlighter-rouge .kn {
    color: #0000aa;
  }
}

/* Keyword.Namespace */

.highlight .kp {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .kp,
  code.highlighter-rouge .kp {
    color: #0000aa;
  }
}

/* Keyword.Pseudo */

.highlight .kr {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .kr,
  code.highlighter-rouge .kr {
    color: #0000aa;
  }
}

/* Keyword.Reserved */

.highlight .kt {
  color: #00aaaa;
}

[data-theme="dark"] {
  pre .kt,
  code.highlighter-rouge .kt {
    color: #00aaaa;
  }
}

/* Keyword.Type */

.highlight .na {
  color: #1e90ff;
}

[data-theme="dark"] {
  pre .na,
  code.highlighter-rouge .na {
    color: #1e90ff;
  }
}

/* Name.Attribute */

.highlight .nb {
  color: #00aaaa;
}

[data-theme="dark"] {
  pre .nb,
  code.highlighter-rouge .nb {
    color: #00aaaa;
  }
}

/* Name.Builtin */

.highlight .nc {
  color: #00aa00;
}

[data-theme="dark"] {
  pre .nc,
  code.highlighter-rouge .nc {
    color: #00aa00;
  }
}

/* Name.Class */

.highlight .no {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .no,
  code.highlighter-rouge .no {
    color: #aa0000;
  }
}

/* Name.Constant */

.highlight .nd {
  color: #888888;
}

[data-theme="dark"] {
  pre .nd,
  code.highlighter-rouge .nd {
    color: #888888;
  }
}

/* Name.Decorator */

.highlight .nf {
  color: #00aa00;
}

[data-theme="dark"] {
  pre .nf,
  code.highlighter-rouge .nf {
    color: #00aa00;
  }
}

/* Name.Function */

.highlight .nn {
  color: #00aaaa;
}

[data-theme="dark"] {
  pre .nn,
  code.highlighter-rouge .nn {
    color: #00aaaa;
  }
}

/* Name.Namespace */

.highlight .nv {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .nv,
  code.highlighter-rouge .nv {
    color: #aa0000;
  }
}

/* Name.Variable */

.highlight .ow {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .ow,
  code.highlighter-rouge .ow {
    color: #0000aa;
  }
}

/* Operator.Word */

.highlight .mb {
  color: #009999;
}

[data-theme="dark"] {
  pre .mb,
  code.highlighter-rouge .mb {
    color: #009999;
  }
}

/* Literal.Number.Bin */

.highlight .mf {
  color: #009999;
}

[data-theme="dark"] {
  pre .mf,
  code.highlighter-rouge .mf {
    color: #009999;
  }
}

/* Literal.Number.Float */

.highlight .mh {
  color: #009999;
}

[data-theme="dark"] {
  pre .mh,
  code.highlighter-rouge .mh {
    color: #009999;
  }
}

/* Literal.Number.Hex */

.highlight .mi {
  color: #009999;
}

[data-theme="dark"] {
  pre .mi,
  code.highlighter-rouge .mi {
    color: #009999;
  }
}

/* Literal.Number.Integer */

.highlight .mo {
  color: #009999;
}

[data-theme="dark"] {
  pre .mo,
  code.highlighter-rouge .mo {
    color: #009999;
  }
}

/* Literal.Number.Oct */

.highlight .sa {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .sa,
  code.highlighter-rouge .sa {
    color: #aa5500;
  }
}

/* Literal.String.Affix */

.highlight .sb {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .sb,
  code.highlighter-rouge .sb {
    color: #aa5500;
  }
}

/* Literal.String.Backtick */

.highlight .sc {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .sc,
  code.highlighter-rouge .sc {
    color: #aa5500;
  }
}

/* Literal.String.Char */

.highlight .dl {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .dl,
  code.highlighter-rouge .dl {
    color: #aa5500;
  }
}

/* Literal.String.Delimiter */

.highlight .sd {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .sd,
  code.highlighter-rouge .sd {
    color: #aa5500;
  }
}

/* Literal.String.Doc */

.highlight .s2 {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .s2,
  code.highlighter-rouge .s2 {
    color: #aa5500;
  }
}

/* Literal.String.Double */

.highlight .se {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .se,
  code.highlighter-rouge .se {
    color: #aa5500;
  }
}

/* Literal.String.Escape */

.highlight .sh {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .sh,
  code.highlighter-rouge .sh {
    color: #aa5500;
  }
}

/* Literal.String.Heredoc */

.highlight .si {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .si,
  code.highlighter-rouge .si {
    color: #aa5500;
  }
}

/* Literal.String.Interpol */

.highlight .sx {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .sx,
  code.highlighter-rouge .sx {
    color: #aa5500;
  }
}

/* Literal.String.Other */

.highlight .sr {
  color: #009999;
}

[data-theme="dark"] {
  pre .sr,
  code.highlighter-rouge .sr {
    color: #009999;
  }
}

/* Literal.String.Regex */

.highlight .s1 {
  color: #aa5500;
}

[data-theme="dark"] {
  pre .s1,
  code.highlighter-rouge .s1 {
    color: #aa5500;
  }
}

/* Literal.String.Single */

.highlight .ss {
  color: #0000aa;
}

[data-theme="dark"] {
  pre .ss,
  code.highlighter-rouge .ss {
    color: #0000aa;
  }
}

/* Literal.String.Symbol */

.highlight .bp {
  color: #00aaaa;
}

[data-theme="dark"] {
  pre .bp,
  code.highlighter-rouge .bp {
    color: #00aaaa;
  }
}

/* Name.Builtin.Pseudo */

.highlight .fm {
  color: #00aa00;
}

[data-theme="dark"] {
  pre .fm,
  code.highlighter-rouge .fm {
    color: #00aa00;
  }
}

/* Name.Function.Magic */

.highlight .vc {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .vc,
  code.highlighter-rouge .vc {
    color: #aa0000;
  }
}

/* Name.Variable.Class */

.highlight .vg {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .vg,
  code.highlighter-rouge .vg {
    color: #aa0000;
  }
}

/* Name.Variable.Global */

.highlight .vi {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .vi,
  code.highlighter-rouge .vi {
    color: #aa0000;
  }
}

/* Name.Variable.Instance */

.highlight .vm {
  color: #aa0000;
}

[data-theme="dark"] {
  pre .vm,
  code.highlighter-rouge .vm {
    color: #aa0000;
  }
}

/* Name.Variable.Magic */

.highlight .il {
  color: #009999;
}

[data-theme="dark"] {
  pre .il,
  code.highlighter-rouge .il {
    color: #009999;
  }
}

/* Literal.Number.Integer.Long */

.highlight .ge {
  font-style: italic;
}

[data-theme="dark"] {
  pre .ge,
  code.highlighter-rouge .ge {
    font-style: italic;
  }
}

/* Generic.Emph */

.highlight .gs {
  font-weight: bold;
}

[data-theme="dark"] {
  pre .gs,
  code.highlighter-rouge .gs {
    font-weight: bold;
  }
}

/* Generic.Strong */

.highlight .c1 {
  color: #aaaaaa;
  font-style: italic;
}

[data-theme="dark"] {
  pre .c1,
  code.highlighter-rouge .c1 {
    color: #aaaaaa;
    font-style: italic;
  }
}

/* Comment.Single */

.highlight .cs {
  color: #0000aa;
  font-style: italic;
}

[data-theme="dark"] {
  pre .cs,
  code.highlighter-rouge .cs {
    color: #0000aa;
    font-style: italic;
  }
}

/* Comment.Special */

.highlight .ch {
  color: #aaaaaa;
  font-style: italic;
}

[data-theme="dark"] {
  pre .ch,
  code.highlighter-rouge .ch {
    color: #aaaaaa;
    font-style: italic;
  }
}

/* Comment.Hashbang */

.highlight .cm {
  color: #aaaaaa;
  font-style: italic;
}

[data-theme="dark"] {
  pre .cm,
  code.highlighter-rouge .cm {
    color: #aaaaaa;
    font-style: italic;
  }
}

/* Comment.Multiline */

.highlight .gh {
  color: #000080;
  font-weight: bold;
}

[data-theme="dark"] {
  pre .gh,
  code.highlighter-rouge .gh {
    color: #000080;
    font-weight: bold;
  }
}

/* Generic.Heading */

.highlight .gu {
  color: #800080;
  font-weight: bold;
}

[data-theme="dark"] {
  pre .gu,
  code.highlighter-rouge .gu {
    color: #800080;
    font-weight: bold;
  }
}

/* Generic.Subheading */

.highlight .ni {
  color: #880000;
  font-weight: bold;
}

[data-theme="dark"] {
  pre .ni,
  code.highlighter-rouge .ni {
    color: #880000;
    font-weight: bold;
  }
}

/* Name.Entity */

.highlight .nt {
  color: #1e90ff;
  font-weight: bold;
}

[data-theme="dark"] {
  pre .nt,
  code.highlighter-rouge .nt {
    color: #1e90ff;
    font-weight: bold;
  }
}

/* Name.Tag */

.highlight .err {
  color: #ff0000;
}

[data-theme="dark"] {
  pre .err,
  code.highlighter-rouge .err {
    color: #ff0000;
  }
}

/* Error */

.highlight .cpf {
  color: #aaaaaa;
  font-style: italic;
}

[data-theme="dark"] {
  pre .cpf,
  code.highlighter-rouge .cpf {
    color: #aaaaaa;
    font-style: italic;
  }
}

/* Comment.PreprocFile */

[data-theme="light"] #theme-toggler:before {
  content: "🌙";
}

[data-theme="dark"] #theme-toggler:before {
  content: "🌞";
}

[data-theme="light"] .navbar-themed {
  .navbar-brand,
  .navbar-nav .nav-link.active {
    color: #343a40;
  }
}

[data-theme="dark"] .navbar-themed {
  .navbar-brand,
  .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9);
  }
}

[data-theme="light"] .navbar-themed .navbar-nav .nav-link {
  color: rgba(52, 58, 64, 0.5);
}

[data-theme="dark"] .navbar-themed .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

[data-theme="light"] .text-themed {
  color: #343a40;
}

[data-theme="dark"] .text-themed {
  color: rgba(255, 255, 255, 0.9);
}

[data-theme="light"] .bg-themed {
  background-color: #f8f9fa;
}

[data-theme="dark"] {
  .bg-themed {
    background-color: #343a40;
  }

  body {
    background-color: #0e0e0e;
    color: rgba(255, 255, 255, 0.9);
  }

  .highlight .hll,
  pre .hll,
  code.highlighter-rouge .hll {
    background-color: #404040;
  }

  .highlight,
  pre,
  code.highlighter-rouge {
    background: #202020;
    color: #d0d0d0;
  }

  .highlight .c,
  pre .c,
  code.highlighter-rouge .c {
    color: #999999;
    font-style: italic;
  }

  .highlight .err,
  pre .err,
  code.highlighter-rouge .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .highlight .esc,
  pre .esc,
  code.highlighter-rouge .esc,
  .highlight .g,
  pre .g,
  code.highlighter-rouge .g {
    color: #d0d0d0;
  }

  .highlight .k,
  pre .k,
  code.highlighter-rouge .k {
    color: #6ab825;
    font-weight: bold;
  }

  .highlight .l,
  pre .l,
  code.highlighter-rouge .l,
  .highlight .n,
  pre .n,
  code.highlighter-rouge .n,
  .highlight .o,
  pre .o,
  code.highlighter-rouge .o,
  .highlight .x,
  pre .x,
  code.highlighter-rouge .x,
  .highlight .p,
  pre .p,
  code.highlighter-rouge .p {
    color: #d0d0d0;
  }

  .highlight .ch,
  pre .ch,
  code.highlighter-rouge .ch,
  .highlight .cm,
  pre .cm,
  code.highlighter-rouge .cm {
    color: #999999;
    font-style: italic;
  }

  .highlight .cp,
  pre .cp,
  code.highlighter-rouge .cp {
    color: #cd2828;
    font-weight: bold;
  }

  .highlight .cpf,
  pre .cpf,
  code.highlighter-rouge .cpf,
  .highlight .c1,
  pre .c1,
  code.highlighter-rouge .c1 {
    color: #999999;
    font-style: italic;
  }

  .highlight .cs,
  pre .cs,
  code.highlighter-rouge .cs {
    color: #e50808;
    font-weight: bold;
    background-color: #520000;
  }

  .highlight .gd,
  pre .gd,
  code.highlighter-rouge .gd {
    color: #d22323;
  }

  .highlight .ge,
  pre .ge,
  code.highlighter-rouge .ge {
    color: #d0d0d0;
    font-style: italic;
  }

  .highlight .gr,
  pre .gr,
  code.highlighter-rouge .gr {
    color: #d22323;
  }

  .highlight .gh,
  pre .gh,
  code.highlighter-rouge .gh {
    color: #ffffff;
    font-weight: bold;
  }

  .highlight .gi,
  pre .gi,
  code.highlighter-rouge .gi {
    color: #589819;
  }

  .highlight .go,
  pre .go,
  code.highlighter-rouge .go {
    color: #cccccc;
  }

  .highlight .gp,
  pre .gp,
  code.highlighter-rouge .gp {
    color: #aaaaaa;
  }

  .highlight .gs,
  pre .gs,
  code.highlighter-rouge .gs {
    color: #d0d0d0;
    font-weight: bold;
  }

  .highlight .gu,
  pre .gu,
  code.highlighter-rouge .gu {
    color: #ffffff;
    text-decoration: underline;
  }

  .highlight .gt,
  pre .gt,
  code.highlighter-rouge .gt {
    color: #d22323;
  }

  .highlight .kc,
  pre .kc,
  code.highlighter-rouge .kc,
  .highlight .kd,
  pre .kd,
  code.highlighter-rouge .kd,
  .highlight .kn,
  pre .kn,
  code.highlighter-rouge .kn {
    color: #6ab825;
    font-weight: bold;
  }

  .highlight .kp,
  pre .kp,
  code.highlighter-rouge .kp {
    color: #6ab825;
  }

  .highlight .kr,
  pre .kr,
  code.highlighter-rouge .kr,
  .highlight .kt,
  pre .kt,
  code.highlighter-rouge .kt {
    color: #6ab825;
    font-weight: bold;
  }

  .highlight .ld,
  pre .ld,
  code.highlighter-rouge .ld {
    color: #d0d0d0;
  }

  .highlight .m,
  pre .m,
  code.highlighter-rouge .m {
    color: #3677a9;
  }

  .highlight .s,
  pre .s,
  code.highlighter-rouge .s {
    color: #ed9d13;
  }

  .highlight .na,
  pre .na,
  code.highlighter-rouge .na {
    color: #bbbbbb;
  }

  .highlight .nb,
  pre .nb,
  code.highlighter-rouge .nb {
    color: #24909d;
  }

  .highlight .nc,
  pre .nc,
  code.highlighter-rouge .nc {
    color: #447fcf;
    text-decoration: underline;
  }

  .highlight .no,
  pre .no,
  code.highlighter-rouge .no {
    color: #40ffff;
  }

  .highlight .nd,
  pre .nd,
  code.highlighter-rouge .nd {
    color: #ffa500;
  }

  .highlight .ni,
  pre .ni,
  code.highlighter-rouge .ni {
    color: #d0d0d0;
  }

  .highlight .ne,
  pre .ne,
  code.highlighter-rouge .ne {
    color: #bbbbbb;
  }

  .highlight .nf,
  pre .nf,
  code.highlighter-rouge .nf {
    color: #447fcf;
  }

  .highlight .nl,
  pre .nl,
  code.highlighter-rouge .nl {
    color: #d0d0d0;
  }

  .highlight .nn,
  pre .nn,
  code.highlighter-rouge .nn {
    color: #447fcf;
    text-decoration: underline;
  }

  .highlight .nx,
  pre .nx,
  code.highlighter-rouge .nx,
  .highlight .py,
  pre .py,
  code.highlighter-rouge .py {
    color: #d0d0d0;
  }

  .highlight .nt,
  pre .nt,
  code.highlighter-rouge .nt {
    color: #6ab825;
    font-weight: bold;
  }

  .highlight .nv,
  pre .nv,
  code.highlighter-rouge .nv {
    color: #40ffff;
  }

  .highlight .ow,
  pre .ow,
  code.highlighter-rouge .ow {
    color: #6ab825;
    font-weight: bold;
  }

  .highlight .w,
  pre .w,
  code.highlighter-rouge .w {
    color: #666666;
  }

  .highlight .mb,
  pre .mb,
  code.highlighter-rouge .mb,
  .highlight .mf,
  pre .mf,
  code.highlighter-rouge .mf,
  .highlight .mh,
  pre .mh,
  code.highlighter-rouge .mh,
  .highlight .mi,
  pre .mi,
  code.highlighter-rouge .mi,
  .highlight .mo,
  pre .mo,
  code.highlighter-rouge .mo {
    color: #3677a9;
  }

  .highlight .sa,
  pre .sa,
  code.highlighter-rouge .sa,
  .highlight .sb,
  pre .sb,
  code.highlighter-rouge .sb,
  .highlight .sc,
  pre .sc,
  code.highlighter-rouge .sc,
  .highlight .dl,
  pre .dl,
  code.highlighter-rouge .dl,
  .highlight .sd,
  pre .sd,
  code.highlighter-rouge .sd,
  .highlight .s2,
  pre .s2,
  code.highlighter-rouge .s2,
  .highlight .se,
  pre .se,
  code.highlighter-rouge .se,
  .highlight .sh,
  pre .sh,
  code.highlighter-rouge .sh,
  .highlight .si,
  pre .si,
  code.highlighter-rouge .si {
    color: #ed9d13;
  }

  .highlight .sx,
  pre .sx,
  code.highlighter-rouge .sx {
    color: #ffa500;
  }

  .highlight .sr,
  pre .sr,
  code.highlighter-rouge .sr,
  .highlight .s1,
  pre .s1,
  code.highlighter-rouge .s1,
  .highlight .ss,
  pre .ss,
  code.highlighter-rouge .ss {
    color: #ed9d13;
  }

  .highlight .bp,
  pre .bp,
  code.highlighter-rouge .bp {
    color: #24909d;
  }

  .highlight .fm,
  pre .fm,
  code.highlighter-rouge .fm {
    color: #447fcf;
  }

  .highlight .vc,
  pre .vc,
  code.highlighter-rouge .vc,
  .highlight .vg,
  pre .vg,
  code.highlighter-rouge .vg,
  .highlight .vi,
  pre .vi,
  code.highlighter-rouge .vi,
  .highlight .vm,
  pre .vm,
  code.highlighter-rouge .vm {
    color: #40ffff;
  }

  .highlight .il,
  pre .il,
  code.highlighter-rouge .il {
    color: #3677a9;
  }

  pre,
  code.highlighter-rouge {
    border: none;
  }

  .gist {
    filter: invert(90%) hue-rotate(180deg);
  }

  input {
    background-color: #2c3032;
    border-color: #343a40;
    color: #17191a;

    &::placeholder {
      color: rgba(255, 255, 255, 0.64);
    }

    &:focus {
      background-color: #242526;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .card {
    background-color: #242526;

    &.border .card-footer {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  table:not(.highlight) td,
  .post table:not(.highlight) th {
    border-color: #242526;
  }
}

.post [data-theme="dark"] table:not(.highlight) th {
  border-color: #242526;
}

[data-theme="dark"] {
  table:not(.highlight) tr:nth-child(even) {
    background-color: #343a40;
  }

  .list-group-item-action {
    background-color: #242526;
    color: rgba(255, 255, 255, 0.9);

    &:hover,
    &:focus {
      background-color: #1d1d1e;
    }
  }

  .post footer {
    text-decoration: none;
  }

  .timeline-body .timeline-item:after {
    background-color: #17191a;
  }
}

.button-round {
  border-radius: 50%;
  font-size: large;
}

[data-theme="light"] .navbar {
  transition: ease;
  background: #fff;
}

[data-theme="dark"] .navbar {
  transition: ease;
  background: #0e0e0e;
}

::selection {
  color: #000000;
  background: #00ced1;
}

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
