.rtl {
  direction: rtl;
  text-align: right;
}

.card-title {
  direction: rtl;
  text-align: right;
}

.card-text {
  direction: rtl;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  direction: rtl;
  text-align: right;
}

h2,
h3,
h4 {
  color: #007bff;
}

p {
  direction: rtl;
  text-align: justify;
  text-align-last: right;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.center {
  text-align: center !important;
}

.post {
  margin-bottom: 50px;
}

.post img:not(.emoji) {
  border-radius: 20px;
}

.btn-group-lg > .btn,
.btn-lg {
  border-radius: 0.75rem;
}

.project-title {
  margin-top: 40px;
}

[data-theme="dark"] body {
  background-color: #191b1f;
}

[data-theme="dark"] .navbar {
  background: #191b1f;
}
