.rtl {
  direction: rtl;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  direction: rtl;
  text-align: right;
}

h2,
h3,
h4,
.colored {
  color: #007bff;
}

p {
  direction: rtl;
  text-align: justify;
  text-align-last: right;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.card-title {
  direction: rtl;
  text-align: right;
}

.card-text {
  direction: rtl;
  text-align: justify;
  text-align-last: right;
}

.center {
  text-align: center !important;
}

.post {
  margin-bottom: 50px;
}

.post img:not(.emoji) {
  border-radius: 20px;
}

div.badges img {
  display: inline !important;
  border-radius: 0 !important;
}

.btn:disabled,
.btn[disabled] {
  border-color: #474747;
  cursor: default !important;
  color: #474747;
}

.btn:disabled:hover,
.btn:disabled:active,
.btn:disabled:focus,
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled]:active {
  background-color: transparent !important;
  color: #474747 !important;
  border-color: #474747 !important;
  box-shadow: none !important;
}

.btn-group-lg > .btn,
.btn-lg {
  border-radius: 0.75rem;
}

.project-title {
  margin-top: 40px;
}

[data-theme="dark"] body {
  background-color: #191b1f;
}

[data-theme="dark"] .navbar {
  background: #191b1f;
}
